{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key": {
        "itemId": $util.dynamodb.toDynamoDBJson($context.arguments.itemId)
    }
    "update" : {
        "expression" : "SET name = :name, 
                            category = :category, 
                            description = :description, 
                            available = :available,
                            amount = :amount,
                            status = :status",
        "expressionValues": {
            ":name" : $util.dynamodb.toDynamoDBJson($context.arguments.name),
            ":category" : $util.dynamodb.toDynamoDBJson($context.arguments.category),
            ":description" : $util.dynamodb.toDynamoDBJson($context.arguments.description),
            ":available" : $util.dynamodb.toDynamoDBJson($context.arguments.available),
            ":amount" : $util.dynamodb.toDynamoDBJson($context.arguments.amount),
            ":status" : $util.dynamodb.toDynamoDBJson($context.arguments.status),
        }
    }
}